img {
    display: block;
    min-height: 100%;
    max-width: 100%;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
}

.gallery__item {
    width: 32%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}


.pictures__img-wrap {
    position: relative;
    height: 100%;
}
  
.pictures__link, .info {
    opacity: 1;
}
  
.pictures__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
  
.info {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    color: white;
}
  
.info__list {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 0;
}
  
.info__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.info__icon {
    fill: #fff;
}
  
.info__quantity {
    font-size: 11px;
    line-height: 1;
}
.hidden{
    display: none;
}

.btn-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}