.header {
    display: flex;
    justify-content: center;
    background-color: #0b64e0;
    padding: 20px;
    margin-bottom: 20px;
}
.search-form {
    padding: 10px;
}
input {
    padding: 10px 5px;
    border-radius: 30px;
    width: 200px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;  
    cursor: pointer; 
}

.load-more {
    background-color: #0b64e0;
    color: #ffffff;
}