.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: #0b64e0;
    background-image: linear-gradient(to bottom, #000000, #00000000);
    padding: 20px;
    // margin-bottom: 20px;
}
.search-form {
    padding: 10px;
}
input {
    padding: 10px 15px;
    border-radius: 30px;
    width: 200px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;  
    cursor: pointer; 
}

.load-more {
    background-color: #0b64e0;
    color: #ffffff;
}